<div class="row">

  <section class="col-md-3" id="elements">

    <section id="components">
      <span class="title">Components</span>
      <div class="wrap">
        <div>

          <ul [dragula]='"first-bag"'>

            <li *ngFor="let component of components" class="component" accessKey="{{component.id}}"
                [ngStyle]="{background:'url('+componentSprite+') '+component.background,width: component.width,
	height: component.height,'padding-top':component.height}"
            >
              {{component.name}}
            </li>


          </ul>

        </div>

      </div>
    </section>
    <section id="pages">
      <span class="title">Pages</span>
      <div class="wrap">
        <app-pages></app-pages>
      </div>
    </section>

  </section>

  <section class="col-md-6" id="canvas">
    <span class="title">
      <label>Device</label>
      <select [(ngModel)]="device" (change)="skinChange()" id="device">
        <option selected="selected">Android</option>
        <option>Apple</option>

      </select>

      <a (click)="genPreview()">preview</a>
    </span>



    <div id="skin" [ngStyle]="{'background-image': 'url(' + skin + ')','padding': '57px 28px 127px 25px'}">

      <div id="designArea" [dragula]='"first-bag"' style="padding: 10px" >
        <template #container></template>
        
      </div>

    </div>

  </section>
  <section class="col-md-3" id="options">

    <button-options *ngIf="selectedButton!=null" [selectedButton]="selectedButton"
                    (modelShow)="showEventLoader($event)"></button-options>
    <switch-options *ngIf="selectedSwitch!=null" [selectedSwitch]="selectedSwitch"
                    (modelShow)="showEventLoader($event)"></switch-options>
    <checkbox-options *ngIf="selectedCheckbox!=null" [selectedCheckbox]="selectedCheckbox"
                      (modelShow)="showEventLoader($event)"></checkbox-options>
    <radio-options *ngIf="selectedRadio!=null" [selectedRadio]="selectedRadio"
                   (modelShow)="showEventLoader($event)"></radio-options>
    <navbar-options *ngIf="selectedNavbar!=null" [selectedNavbar]="selectedNavbar"
                   (modelShow)="showEventLoader($event)"></navbar-options>
    <range-options *ngIf="selectedRange!=null" [selectedRange]="selectedRange"
                    (modelShow)="showEventLoader($event)"></range-options>
    <input-options *ngIf="selectedInput!=null" [selectedInput]="selectedInput"
                   (modelShow)="showEventLoader($event)"></input-options>
    <list-options *ngIf="selectedList!=null" [selectedList]="selectedList"
                   (modelShow)="showEventLoader($event)"></list-options>
    <textarea-options *ngIf="selectedTextarea!=null" [selectedTextarea]="selectedTextarea"
                  (modelShow)="showEventLoader($event)"></textarea-options>
    <html-options *ngIf="selectedHtml!=null" [selectedHtml]="selectedHtml"
                      (modelShow)="showEventLoader($event)"></html-options>
    <container-options *ngIf="selectedContainer!=null" [selectedContainer]="selectedContainer"
                  (modelShow)="showEventLoader($event)"></container-options>
    <paragraph-options *ngIf="selectedParagraph!=null" [selectedParagraph]="selectedParagraph"
                       (modelShow)="showEventLoader($event)"></paragraph-options>
    <heading-options *ngIf="selectedHeading!=null" [selectedHeading]="selectedHeading"
                       (modelShow)="showEventLoader($event)"></heading-options>
    <map-options *ngIf="selectedMap!=null" [selectedMap]="selectedMap"
                     (modelShow)="showEventLoader($event)"></map-options>
    <image-options *ngIf="selectedImage!=null" [selectedImage]="selectedImage"
                 (modelShow)="showEventLoader($event)"></image-options>
    <select-options *ngIf="selectedSelect!=null" [selectedSelect]="selectedSelect"
                   (modelShow)="showEventLoader($event)"></select-options>

  </section>

</div>
<div id="styles">

  <div id="btnStyles"></div>
  <div id="switchStyles"></div>
  <div id="checkboxStyles"></div>
  <div id="radioStyles"></div>
  <div id="navbarStyles"></div>
  <div id="rangeStyles"></div>
  <div id="inputStyles"></div>
  <div id="listStyles"></div>
  <div id="textareaStyles"></div>
  <div id="htmlStyles"></div>
  <div id="containerStyles"></div>
  <div id="paragraphStyles"></div>
  <div id="headingStyles"></div>
  <div id="mapStyles"></div>
  <div id="imageStyles"></div>
  <div id="selectStyles"></div>


</div>


<div bsModal #lgModal="bs-modal" [config]="{backdrop: 'static'}" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Add Custom Scripts</h4>
        <button type="button" class="close pull-right" (click)="lgModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div ace-editor
             [(text)]="text"
             [mode]="'javascript'"
             style="min-height: 400px; width:100%; overflow: auto;"
        ></div>
      </div>
    </div>
  </div>
</div>

<div bsModal #previewModal="bs-modal" [config]="{backdrop: 'static'}" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" style="background: transparent;border:none;box-shadow: none">

      <div class="modal-body">
        <iframe *ngIf="iframeSrc" [src]="iframeSrc" id="preview"></iframe>
      </div>
    </div>
  </div>
</div>



<div bsModal #mediaModel="bs-modal" [config]="{backdrop: 'static'}" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Add Custom Scripts</h4>
        <button type="button" class="close pull-right" (click)="lgModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
      </div>
    </div>
  </div>
</div>

