app-pages{
  max-width: 100%;

  .page-container{
    max-width: 100%;

    #addPage{
      cursor: pointer;
    }

    ul{
      li{
        .pageCaret{
          margin-right: 5px;
          margin-left: -5px;
          border-bottom: 4px solid transparent;
          border-top: 4px solid transparent;
          border-left: 4px solid;
          display: inline-block;
          height: 0;
          vertical-align: middle;
          width: 0;
        }
      }

      .selected{
        background-color: #46fffa;
        span{
          cursor: pointer;
        }
      }
    }

  }

  .hide{
    display:none;
  }

  .addPageDialog{
    position: absolute;
    background-color: #ae61ff;
    padding:2em;
    border:1px solid black;
  }
}



