<div class="row">

  <section class="col-md-3" id="elements">

    <section id="components">
      <span class="title">Components</span>
      <div class="wrap">
        <div>

          <ul [dragula]='"first-bag"'>

            <li *ngFor="let component of components" class="component" accessKey="{{component.id}}"
                [ngStyle]="{background:'url('+componentSprite+') '+component.background,width: component.width,
	height: component.height,'padding-top':component.height}"
            >
              {{component.name}}
            </li>


          </ul>

        </div>

      </div>
    </section>
    <section id="pages">
      <span class="title">Pages</span>
      <div class="wrap">

      </div>
    </section>

  </section>

  <section class="col-md-6" id="canvas">
    <span class="title">
      <label>Device</label>
      <select [(ngModel)]="device" (change)="skinChange()" id="device">
        <option selected="selected">Android</option>
        <option>Apple</option>

      </select>
    </span>

    <div id="skin" [ngStyle]="{'background-image': 'url(' + skin + ')','padding': '57px 28px 127px 25px'}">

      <div id="designArea" [dragula]='"first-bag"' style="padding: 10px">

      </div>

    </div>

  </section>
  <section class="col-md-3" id="options">

   <button-options *ngIf="selectedButton" [selectedButton]="selectedButton" (modelShow)="showEventLoader($event)"></button-options>
    <switch-options *ngIf="selectedSwitch" [selectedSwitch]="selectedSwitch" (modelShow)="showEventLoader($event)"></switch-options>


  </section>

</div>
<div id="styles">

</div>


<div bsModal #lgModal="bs-modal" [config]="{backdrop: 'static'}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Add Custom Scripts</h4>
        <button type="button" class="close pull-right" (click)="lgModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div ace-editor
             [(text)]="text"
             [mode]="'javascript'"
             style="min-height: 400px; width:100%; overflow: auto;"
        ></div>
      </div>
    </div>
  </div>
</div>




