<div class="row">

  <section class="col-md-3" id="elements">

    <section id="components">
      <span class="title">Components</span>
      <div class="wrap">
        <div>

          <ul [dragula]='"first-bag"'>

            <li *ngFor="let component of components" class="component" accessKey="{{component.id}}"
                [ngStyle]="{background:'url('+componentSprite+') '+component.background,width: component.width,
	height: component.height,'padding-top':component.height}"
            >
              {{component.name}}
            </li>


          </ul>

        </div>

      </div>
    </section>
    <section id="pages">
      <span class="title">Pages</span>
      <div class="wrap">

      </div>
    </section>

  </section>

  <section class="col-md-6" id="canvas">
    <span class="title">
      <label>Device</label>
      <select [(ngModel)]="device" (change)="skinChange()" id="device">
        <option selected="selected">Android</option>
        <option>Apple</option>

      </select>
    </span>

    <div id="skin" [ngStyle]="{'background-image': 'url(' + skin + ')','padding': '57px 28px 127px 25px'}">

      <div id="designArea" [dragula]='"first-bag"'>

      </div>

    </div>

  </section>
  <section class="col-md-3" id="options">

    <form class="form-horizontal" *ngIf="selectedButton">
      <div class="form-group">
        <label class="col-sm-3 control-label">ID</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" [(ngModel)]="selectedButton.id" name="id" disabled>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 control-label">Link</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" [(ngModel)]="selectedButton.link" name="link">
        </div>
      </div>

      <hr>
      <h4>Text</h4>

      <div class="form-group">
        <label class="col-sm-3 control-label">Text</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" [(ngModel)]="selectedButton.text.text" name="text">
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 control-label">Size</label>
        <div class="col-sm-9">
          <div class="col-sm-8 input-group">
            <input type="text" class="form-control" [(ngModel)]="selectedButton.text.size" name="size">
            <div class="input-group-addon">px</div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 control-label">Align</label>
        <div class="col-sm-9">
          <select [(ngModel)]="selectedButton.text.align" class="form-control" name="align">
            <option value="left">Left</option>
            <option value="right">Right</option>
            <option value="center">Center</option>
            <option value="justify">Justify</option>
          </select>
        </div>
      </div>


      <div class="form-group">
        <label class="col-sm-3 control-label">Color</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" [(ngModel)]="selectedButton.text.color" name="color">
        </div>
      </div>

      <hr>
      <h4>Style</h4>

      <div class="form-group">
        <label class="col-sm-3 control-label">Width</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" [(ngModel)]="selectedButton.style.width" name="width">
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 control-label">Height</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" [(ngModel)]="selectedButton.style.height" name="height">
        </div>
      </div>


      <div class="form-group">
        <label class="col-sm-3 control-label">Background</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" [(ngModel)]="selectedButton.style.background" name="background">
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 control-label">Radius</label>
        <div class="col-sm-9">
          <div class="col-sm-8 input-group">
            <input type="text" class="form-control" [(ngModel)]="selectedButton.style.radius" name="radius">
            <div class="input-group-addon">px</div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 control-label">Classes</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" [(ngModel)]="selectedButton.style.class" name="class">
        </div>
      </div>


    </form>


  </section>

</div>




